body {
    background-color: lightgray;
    color: gray;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px; 
}

.container {
    display: flex;
    margin-top: 30px;
}
 
.block {
    background: white;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.block:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: gray;
    top: 0;
    left: 0;
    transition: 0.8s ease-in-out;
}

.block:hover {
    transform: translateY(-6px);
}

.block:hover:before {
    background-color: rgb(77, 123, 223);
}

h1 {
    color: rgb(77, 123, 223);
    margin-bottom: 0;
}

h3 {
    font-weight: lighter;
    margin-top: 0;
}

.image {
    width: 110px;
    height: 150px;
    float: left;
    margin-right: 20px; 
    margin-bottom: 20px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hover {
    opacity: 0;
}

.hover:hover {
    opacity: 0.7;
}

button {
    width: 100%;
    height: 70px;
    background-color: rgb(77, 123, 223);
    color: white;
    border-radius: 30px 0 30px 0;
    border: none;
    font-size: 12px;
}

button:hover {
    background-color: rgb(34, 72, 154);
}